.class {
    background-color: rgb(214, 124, 139);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px;
}

#No2 {
    color: blue;
    font-size: 36px;
}

#No4 {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(100, 232, 100);
}