body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  padding: 20px 12px 12px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 8px auto;
}

.content {
  background: #e3f4ff;
  padding: 16px 10px;
  margin: 8px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  background: white;
  padding: 8px 20px;
  border: 1px solid #eee;
  margin: auto 133px;
}